*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:times new roman, serif;
  background:#f4f4f4;
  color:#222;
  line-height:1.6;
}

header{
  background:#002b5b;
  color:white;
  text-align:center;
  padding:20px;
}

nav{
  margin-top:15px;
}

nav a{
  color:white;
  text-decoration:none;
  margin:10px;
  padding:10px 20px;
  background:#ff4d4d;
  border-radius:5px;
}

nav a:hover{
  background:#ff0000;
}

.hero{
  background:white;
  text-align:center;
  padding:40px;
}

section{
  background:white;
  margin:20px;
  padding:25px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
}

section h2{
  color:#002b5b;
  margin-bottom:15px;
}

ul,ol{
  margin-left:20px;
  margin-top:10px;
}

img{
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
    height: auto;
    width: 200px;
    max-width: 100px;
    display: block;
    margin: 20px auto;
    object-fit: cover;
}

table{
  width:100%;
  border-collapse:collapse;
  margin-top:20px;
}

table,th,td{
  border:1px solid #ccc;
}

th{
  background:#002b5b;
  color:white;
}

th,td{
  padding:12px;
  text-align:left;
}

footer{
  background:#002b5b;
  color:white;
  text-align:center;
  padding:20px;
  margin-top:20px;
}

@media(max-width:768px){

  nav a{
    display:block;
    margin:10px auto;
    width:200px;
  }

  .A{
    display:flex;
    justify-content:center;
  }
}